/* app css stylesheet */
* {
  box-sizing: border-box;
}
body {
  background-color: #E7EFFD;
  color: black;
  font-family: "Comic Sans MS",sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header{
  background-color: #EBEDEF;
  height: 60px;
  text-align: center;
  border-bottom: 1px solid #9466EA;
  box-shadow: 0 4px 10px rgba(38, 38, 38, 0.16);
  margin: 0 0 20px;
}

footer {
  background-color: #EBEDEF;
  height: 60px;
  text-align: center;
  border-top: 1px solid gray;
  margin: 20px 0 0;
}

header > h1 {
  margin: 0;
  line-height: 60px;
  color: #9466EA;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phoneViewer,
.cart,
.filter{
  width: 96%;
  margin: 0 auto 20px;
  padding: 1%;
  border: 1px solid #9466EA;
  border-radius: 4px;
  background-color: white;
}

.catalog-block {
  width: 96%;
  margin: 0 auto 20px;
  padding: 0;
}

.catalog {
  padding-inline-start: 0;
  list-style: none;
  position: relative;
  min-height: 1px;
  width: 100%;
}

.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.thumb {
  float: left;
  margin-right: 5px;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.thumb > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.phones__btn-buy-wrapper {
  align-items: center;
  float: right;
  height: 100%;
  display: flex;
  margin: 0 1em;
}

.phone {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #9466EA;
  border-radius: 4px;
}

.catalog li {
  clear: both;
  height: 120px;
  padding: 10px;
}

a {
  cursor: pointer;
  color:  #9466EA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.snippet {
  display: block;
  max-height: 60px;
  /*max-width: 400px;*/
  margin: 5px 0 10px;
  font-size: 14px;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn{
  color: #fff;
  background-color:  #9466EA;
  border-color: #E7EFFD;
  border: 1px transparent;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
}

.cart_btn {
  margin-left: 5px;
}

.cart_item {
  margin-bottom: 5px;
}

input,
select {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #9466EA;
  border-radius: 4px;
  margin-left: 5px;
}

.phoneViewer {
  width: 96%;
  min-height: 400px;
  padding: 20px 0;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.phoneViewer_info {
  /*display: flex;*/
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  width: 98%;
  max-width: 98%;
  min-height: 400px;
}

.phoneDetail {
  margin: 0 20px;
}

/*@media only screen and (max-width: 620px) {*/
/*  .phoneViewer_info {*/
/*    flex-wrap: wrap;*/
/*  }*/
/*}*/

img.phoneDetail.mainImage {
  float: left;
  background-color: white;
  padding: 10px;
  height: 400px;
  width: 400px;
  max-width: 90%;
  border: 1px solid silver;
  border-radius: 20px;
  margin: 20px;
  margin-top: 0;
}

img.phone:first-child {
  display: block;
}

ul.phone-thumbs {
  margin: 5px;
  margin-top: 30px;
  list-style: none;
  padding-left: 20px;
}

ul.phone-thumbs li {
  border: 1px solid silver;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


